@import './variables';
@import './reset';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $font-family;
    background-image: url(../images/bg-pattern-bottom.svg);
    background-color: $dark-cyan;   

    .container {
        display: block;
        width: 90%;
        overflow-x: hidden;
        background-color: white;
        border-radius: 30px;

        .top-section {
            margin-bottom: -30px;
            .photo {
                border-radius: 50%;
                position: relative;
                top: -55px;
                left: 36%;
            }
        }

        .bottom-section {
            text-align: center;

            .info {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                .name {
                    margin-right: 15px;
                    color: $very-dark-desaturated-blue;
                    font-size: 23px;               
                }

                .age {
                    color: $dark-gray;
                }
            }

            .country {
                color: $dark-gray;
                font-size: $name-font-size;
                margin-bottom: 30px;
            }
        }

        .stats {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid hsl(0, 0%, 95%);
            padding: 30px;

            .stat-details {
                .stat-number {
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 23px;
                }

                .stat-type {
                    font-size: 12px;
                    letter-spacing: 3px;
                }
            }
        }
    }
}

@media only screen and (min-width: $desktop) {
    body {
        background-size: contain;

        .container {
            width: 23%;

            .top-section {
                .pattern {
                    width: 100%;
                }
    
                .photo {
                    left: 36%;
                    height: 105px;
                }
            }

            .bottom-section {
                .info .name {
                    font-size: 20px;
                }

                .info .age {
                    font-size: 20px;
                }

                .country {
                    font-size: 15px;
                }

                .stats .stat-details .stat-number {
                    font-size: 20px;
                }

                .stats .stat-details .stat-type {
                    font-size: 8px;
                }
            }
        }
    }
}








